.ProjectBuild {
  background: #377AA6;
  padding: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}

.ProjectBuild--failure {
  background: #FF6138;
}

.ProjectBuild--success {
  background: #00A388;
}

.ProjectBuild__branch {
  font-size: 3rem;
}

.ProjectBuild__repo {
  font-size: 1.5rem;
}

.ProjectBuild__author {
  font-size: 1.5rem;
}

.ProjectBuild__stoptime {

}
